<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src = "http://159.203.118.48:3000/static/javascripts/solver.js" type="text/javascript"></script>
</head>
<body>
    <h2 class="w3-text-blue">Query Form</h2>
  <p>
    <label class="w3-text-blue"><b>Query</b></label>
    <input class="w3-input w3-border" name="query" type="text" id ="query"></p>
    <p>
    <button class="w3-btn w3-blue" id="queryForm">Get Result</button></p>
</body>
</html>